* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

 @media screen and (min-width: 768px) {
  body {
    background-color: rgb(244, 244, 244);
    font-size: 1.2em;
  }
 }

 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
}
article {
}
h1 {
}
h2 {
}
img {
	max-width: 100%;
}
main {
}
section {
}
figure {
	margin: 0;
}
figcaption {
  font-size: .8em;
}